@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

.go-roam-body.fixed-body {
  overflow: hidden;
}

.nav-bar {
  padding: 30px 100px !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.roam-logo img {
  height: 20px;
}

.nav-right a {
  width: auto;
  padding-left: 40px !important;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.nav-right a:hover {
  color: #484848 !important;
}

.nav-lang img {
  margin-right: 4px !important;
  width: 16px;
  height: 16px;
}

.nav-tab {
  display: none;
  cursor: pointer;
}

.nav-tab span {
  width: 28px;
  height: 3px;
  border-radius: 10px;
  background-color: #565656;
  margin: 5px 0 !important;
  pointer-events: none;
}

.mobile-nav {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
  padding: 30px 20px !important;
  left: -100%;
  opacity: 0;
}

.mobile-nav .mobile-logo img {
  height: 20px;
}

.mobile-nav .mobile-links {
  padding: 20px 0 !important;
}

.mobile-nav .mobile-links a {
  color: #000000;
  margin: 15px 0 !important;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.mobile-nav .mobile-links a:active {
  transform: scale(0.99);
}

.banner-container {
  padding: 100px 100px !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  min-height: 550px;
}

.banner-container h1 {
  font-size: 48px;
  font-weight: bold;
  color: #ff5a10;
  text-align: center;
  padding-top: 50px !important;
}

.banner-container p {
  color: #ffffff;
  font-size: 22px;
}

.book-wrapper {
  padding: 40px 10px !important;
  background-color: #006ce6;
}

.book-wrapper h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
}

.book-wrapper.fixed-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  animation: fadeUp 0.5s ease;
}

.about-container {
  padding: 0 400px !important;
  transition: all 0.3s ease;
}

.about-container .box {
  background-color: #232323;
  border-radius: 12px;
  padding: 30px !important;
}

.about-container .box .image-container img {
  height: 150px;
}

.about-container .box h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
}

.about-container .box p {
  font-size: 18px;
  color: #ffffff;
}

.about-container .box ul li {
  font-size: 18px;
  color: #ffffff;
}

@keyframes fadeUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

.footer-container {
  background-color: #ffffff;
  padding: 100px 100px 70px 100px !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.footer-container .footer-links p {
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px !important;
}

.footer-container .footer-links .link-list a {
  font-size: 12px;
  color: #006ce6;
  line-height: 1;
  margin-bottom: 20px !important;
}

.footer-container .copyright-banner p {
  color: #000000;
}

.footer-container .footer-logo img {
  height: 20px;
}

.combo-footer {
  position: fixed;
  width: 100%;
  bottom: -90%;
}

/* dark theme  */
body.dark-body {
  background-color: #000000;
}

body.dark-body .nav-right a {
  color: #ffffff;
}

body.dark-body .banner-container h1 {
  color: #ffffff;
}

body.dark-body .footer-container {
  background-color: #252525;
}

body.dark-body .footer-container .footer-links p {
  color: #ffffff;
}

body.dark-body .footer-container .footer-links .link-list a {
  color: #ff5a10;
}

body.dark-body .footer-container .copyright-banner p {
  color: #ff5a10;
}

body.dark-body .background-wrapper {
  background-image: url(../image/cover2.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

body.dark-body .nav-tab span {
  background-color: #ffffff;
}

body.dark-body .mobile-nav {
  background-color: #252525;
}

body.dark-body .mobile-nav .mobile-links a {
  color: #ffffff;
}

body.dark-body .roam-logo img {
  height: 40px;
}

body.dark-body .footer-container .footer-logo img {
  height: 40px;
}

body.dark-body .mobile-nav .mobile-logo img {
  height: 40px;
}

/* responsive  */
@media (max-width: 1700px) {
  .about-container {
    padding: 0 300px !important;
  }
}

@media (max-width: 1500px) {
  .about-container {
    padding: 0 200px !important;
  }
}

@media (max-width: 1200px) {
  .about-container {
    padding: 0 150px !important;
  }
}

@media (max-width: 1100px) {
  .about-container {
    padding: 0 100px !important;
  }
}

@media (max-width: 1023px) {
  .nav-bar {
    padding: 30px 50px !important;
  }
  .banner-container {
    padding: 70px 50px !important;
    min-height: 450px;
  }
  .banner-container h1 {
    font-size: 44px;
  }
  .footer-container {
    padding: 90px 50px 60px 50px !important;
  }
}

@media (max-width: 991px) {
  .footer-container .footer-box {
    margin-bottom: 30px !important;
  }
  .about-container {
    padding: 0 60px !important;
  }
}

@media (max-width: 767px) {
  .nav-bar {
    padding: 30px 20px !important;
  }
  .banner-container {
    padding: 50px 20px !important;
    min-height: 350px;
  }
  .banner-container h1 {
    font-size: 40px;
    padding: 30px 0 !important;
  }
  .about-container {
    padding: 0 20px !important;
  }
  .about-container .box {
    padding: 20px !important;
  }
  .about-container .box h1 {
    font-size: 32px;
  }
  .about-container .box p {
    font-size: 16px;
  }
  .footer-container {
    padding: 90px 20px 60px 20px !important;
  }
}

@media (max-width: 575px) {
  .nav-right {
    display: none;
  }
  .nav-tab {
    display: flex;
  }
  .banner-container {
    padding: 30px 20px !important;
  }
  .footer-container .footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about-container .box {
    flex-direction: column;
    align-items: center;
  }
  .about-container .box .details-container {
    padding: 0 !important;
  }
  .about-container .box .image-container {
    margin-bottom: 30px !important;
  }
  .about-container .box h1 {
    text-align: center;
  }
  .about-container .box p {
    text-align: center;
  }
  .footer-container .footer-links .link-list {
    align-items: center;
  }
}

@media (max-width: 350px) {
  .nav-bar {
    padding: 30px 10px !important;
  }
  .banner-container {
    padding: 20px 10px !important;
  }
  .party-card-container {
    padding: 0 10px 40px 10px !important;
  }
  .banner-container h1 {
    font-size: 34px;
  }
  .about-container {
    padding: 0 10px !important;
  }
  .about-container .box h1 {
    font-size: 26px;
  }
  .about-container .box p {
    font-size: 14px;
  }
  .footer-container {
    padding: 90px 10px 60px 10px !important;
  }
}
