@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  background-color: #363740;
  font-family: "Poppins", sans-serif;
}

.admin-roam-body.fixed-body {
  overflow: hidden;
}

/* admin home */
.nav-bar {
  padding: 30px 100px !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.roam-logo img {
  height: 40px;
}

.nav-right a {
  width: auto;
  padding-left: 40px !important;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.nav-lang img {
  margin-right: 4px !important;
  width: 16px;
  height: 16px;
}

.home-form-container {
  min-height: calc(100vh - 200px);
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.home-form-container .box {
  background-color: #ffffff;
  border-radius: 14px;
  padding: 40px 30px !important;
  max-width: 400px;
}

.home-form-container .box .heading-text h1 {
  font-weight: bold;
  color: #000000;
  font-size: 24px;
}

.home-form-container .box .heading-text p {
  color: #959595;
  font-size: 14px;
}

.home-form-container .box .input-box input {
  border: none;
  outline: none;
  width: 100%;
  background-color: #fcfdfe;
  border: 2px solid #e3e4e6;
  border-radius: 50px;
  padding: 8px 30px !important;
  font-size: 14px;
  margin-bottom: 15px !important;
}

.home-form-container .box .input-box input::placeholder {
  color: #959595;
  font-size: 14px;
}

.home-form-container .box .input-box button {
  border: none;
  outline: none;
  background-color: #006ce6;
  border-radius: 50px;
  width: 100%;
  padding: 10px 20px !important;
  margin-top: 20px !important;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

.copy-right-box {
  height: 100px;
}

.copy-right-box p {
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
}

/* admin dashboard  */
.main-container .left-container {
  min-width: 260px;
  max-width: 260px;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #363740;
  height: 100vh;
  z-index: 999999;
}

.main-container .left-container .heading-text {
  pointer-events: none;
}

.main-container .left-container .heading-text h1 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  pointer-events: none;
}

.main-container .left-container .side-nav .list {
  padding: 16px 20px 16px 30px !important;
}

.main-container .left-container .side-nav .list.active {
  background-color: #3e3e47;
  border-left: 5px solid #ff5a10;
}

.main-container .left-container .side-nav .list img {
  pointer-events: none;
}

.main-container .left-container .side-nav .list p {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  padding-left: 14px !important;
  pointer-events: none;
}

.main-container .left-container .logout-box {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.main-container .left-container .logout-box .list {
  cursor: pointer;
}

.main-container .left-container .logout-box img {
  pointer-events: none;
}

.main-container .left-container .logout-box p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  margin-left: 15px !important;
  pointer-events: none;
}

.main-container .right-container {
  padding-left: 260px !important;
  background-color: #f5faff;
  min-height: 100vh;
}

.main-container .right-container .primary-container .nav-banner .title h1 {
  font-size: 22px;
  font-weight: bold;
}

.main-container
  .right-container
  .primary-container
  .nav-banner
  .tools
  .add-btn {
  background-color: #006ce6;
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  padding: 6px 20px !important;
  border-radius: 50px;
  font-weight: 600;
}

.main-container
  .right-container
  .primary-container
  .nav-banner
  .tools
  .profile
  h1 {
  font-size: 12px;
  font-weight: 600;
}

.main-container
  .right-container
  .primary-container
  .nav-banner
  .tools
  .profile
  .image-container {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #dfe0eb;
  padding: 2px !important;
  margin-left: 15px !important;
}

.main-container
  .right-container
  .primary-container
  .nav-banner
  .tools
  .profile
  .image-container
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.main-container .right-container .primary-container .table-container {
  background-color: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  h1 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .icon
  p {
  color: #959595;
  font-size: 12px;
  margin-left: 10px !important;
  font-weight: 600;
}

/* table  */
.table td,
.table th {
  padding: 20px 20px !important;
  font-size: 12px;
  font-weight: normal;
  color: #959595;
  white-space: nowrap;
}

.table th {
  font-weight: 600;
}

.table td.title-row {
  color: #000000;
  font-weight: 600;
}

.table td .image-container {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: -10px !important;
}

.table td .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.table td .action-link {
  color: #959595;
  text-decoration: none;
  font-weight: 600;
  padding: 0 10px !important;
  line-height: 0.5;
}

.table td .action-link:hover {
  color: #006ce6;
}

tr {
  border-top: 1px solid #dfe0eb;
}

thead tr {
  border: none;
}

tr:hover {
  background-color: #f6f6f6;
}

.main-container .pagination-box {
  border-top: 1px solid #dfe0eb;
}

.main-container .pagination-box .box p {
  color: #959595;
  font-size: 12px;
  margin-right: 10px !important;
}

.main-container .pagination-box .box .icon-box img {
  height: 12px;
  margin: 0 10px !important;
}

.main-container .pagination-box .box p span.page-number {
  color: #000000;
  font-weight: 600;
}

.main-container .info-container {
  background-color: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  padding: 20px !important;
}

.main-container .info-container .left-info {
  width: 40%;
}

.main-container .info-container .right-info {
  width: 60%;
}

.main-container .info-container .left-info .image-container {
  width: 100%;
  height: 300px;
  filter: drop-shadow(0px 8px 25px rgba(0, 0, 0, 0.2));
  border-radius: 12px;
}

.main-container .info-container .left-info .image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.main-container .info-container .left-info .list-box .list {
  margin-bottom: 20px !important;
}

.main-container .info-container .left-info .list-box .list h1 {
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px !important;
  line-height: 1.5;
}

.main-container .info-container .left-info .list-box .list p {
  color: #959595;
  font-size: 14px;
  line-height: 1.5;
}

.main-container .info-container .left-info .list-box .list p span {
  color: #006ce6;
  font-weight: 500;
}

.main-container .info-container .right-info .heading-text h1 {
  font-size: 24px;
  font-weight: bold;
}

.main-container .info-container .right-info .heading-text img {
  margin-right: 10px !important;
  height: 12px;
}

.main-container .info-container .right-info .heading-text p {
  font-size: 12px;
  color: #959595;
  font-weight: 500;
}

.main-container .info-container .right-info .heading-text h5 {
  font-weight: 600;
  font-size: 12px;
}

.main-container .info-container .right-info .event-box {
  margin: 40px 0 !important;
}

.main-container .info-container .right-info .event-box .title {
  padding-bottom: 14px !important;
  border-bottom: 1px solid #dfe0eb;
}

.main-container .info-container .right-info .event-box .title h1 {
  font-size: 12px;
  text-transform: uppercase;
  color: #959595;
  letter-spacing: 0.2em;
}

.main-container .info-container .right-info .event-box .list-box .list {
  margin-bottom: 15px !important;
}

.main-container
  .info-container
  .right-info
  .event-box
  .list-box
  .list:nth-last-child(1) {
  margin-bottom: 0 !important;
}

.main-container .info-container .right-info .event-box .list-box .list h1 {
  font-size: 14px;
  font-weight: 700;
  margin-right: 15px !important;
}

.main-container .info-container .right-info .event-box .list-box .list p {
  font-size: 12px;
}

.main-container .info-container .right-info .desc-box {
  margin: 40px 0 !important;
}

.main-container .info-container .right-info .desc-box .title {
  padding-bottom: 14px !important;
  border-bottom: 1px solid #dfe0eb;
}

.main-container .info-container .right-info .desc-box .title h1 {
  font-size: 12px;
  text-transform: uppercase;
  color: #959595;
  letter-spacing: 0.2em;
}

.main-container .info-container .right-info .desc-box .summary-text p {
  font-size: 14px;
  color: #959595;
}

.main-container .info-container .btn-container {
  border-top: 1px solid #dfe0eb;
}

.main-container .info-container .btn-container a {
  font-size: 12px;
  font-weight: 600;
  border-radius: 100px;
  padding: 6px 20px !important;
  text-decoration: none;
}

.main-container .info-container .btn-container a.edit-link {
  background-color: #006ce6;
  color: #ffffff;
}

.main-container .info-container .btn-container a.delete-link {
  background-color: #ffffff;
  border: 1px solid #006ce6;
  color: #006ce6;
  margin-left: 10px !important;
}

/* .modal  */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  z-index: 999999;
}

.modal-wrapper.hidden {
  display: none;
}

.modal-wrapper .modal-box {
  background-color: #ffffff;
  padding: 20px !important;
  border-radius: 14px;
  max-width: 350px;
}

.modal-wrapper .modal-box .title h1 {
  font-size: 16px;
  font-weight: 600;
}

.modal-wrapper .modal-box .form-container .form-list input {
  border: none;
  outline: none;
  width: 100%;
  background-color: #fcfdfe;
  border: 1px solid #e3e4e6;
  border-radius: 50px;
  padding: 8px 20px !important;
  font-size: 12px;
  margin-bottom: 10px !important;
}

.modal-wrapper .modal-box .form-container .form-list textarea {
  border: none;
  outline: none;
  width: 100%;
  background-color: #fcfdfe;
  border: 1px solid #e3e4e6;
  border-radius: 14px;
  padding: 8px 20px !important;
  font-size: 12px;
  margin-bottom: 10px !important;
}

.modal-wrapper .modal-box .form-container .upload-list label {
  font-size: 12px;
  font-weight: 500;
}

.modal-wrapper .modal-box .form-container .upload-list .upload-box {
  width: 100%;
  background-color: #fcfdfe;
  border: 1px solid #e3e4e6;
  border-radius: 100px;
  padding: 10px 20px !important;
  margin-bottom: 10px !important;
  position: relative;
}

.modal-wrapper .modal-box .form-container .upload-list .upload-box img {
  height: 14px;
  margin-right: 10px !important;
}

.modal-wrapper .modal-box .form-container .upload-list .upload-box p {
  font-size: 12px;
  color: #959595;
}

.modal-wrapper .modal-box .form-container .upload-list .upload-box input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.modal-wrapper .modal-box .form-container .btn-container button {
  border: none;
  outline: none;
  background-color: #006ce6;
  padding: 10px 20px !important;
  font-size: 12px;
  color: #ffffff;
  width: 100%;
  font-weight: 600;
  border-radius: 100px;
}

.modal-wrapper.delete-modal-wrapper .modal-box {
  min-width: 400px;
  max-width: 400px;
  padding: 30px !important;
  border-radius: 10px;
}

.modal-wrapper.delete-modal-wrapper .modal-box .title h1 {
  font-size: 18px;
}

.modal-wrapper.delete-modal-wrapper .modal-box .btn-container a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 20px !important;
  border-radius: 10px;
}

.modal-wrapper.delete-modal-wrapper .modal-box .btn-container a.yes-btn {
  background-color: #27ae60;
}

.modal-wrapper.delete-modal-wrapper .modal-box .btn-container a.no-btn {
  background-color: #e74c3c;
  margin-left: 30px !important;
}

/* mobile nav tab  */
.nav-tab {
  cursor: pointer;
  display: none;
  width: fit-content;
}

.nav-tab .box {
  background-color: #ececec;
  border-radius: 10px;
  padding: 10px !important;
}

.nav-tab span {
  width: 28px;
  height: 3px;
  border-radius: 10px;
  background-color: #006ce6;
  margin: 5px 0 !important;
  pointer-events: none;
}

/* graph container  */
.main-container
  .right-container
  .primary-container
  .graph-container
  .card-container
  .card-box {
  background-color: #ffffff;
  padding: 20px !important;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  cursor: pointer;
  width: 200px;
  margin-bottom: 40px !important;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .card-container
  .card-box.active {
  border: 1px solid #006ce6;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .card-container
  .card-box
  .info-box
  p {
  font-size: 12px;
  color: #959595;
  text-align: center;
  margin-bottom: 12px !important;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .card-container
  .card-box
  .info-box
  h1 {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .card-container
  .card-box.active
  .info-box
  p {
  font-size: 14px;
  color: #006ce6;
  font-weight: 600;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .card-container
  .card-box.active
  .info-box
  h1 {
  font-size: 26px;
  color: #006ce6;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container {
  background-color: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .left-chart {
  border-right: 1px solid #dfe0eb;
  min-width: 350px;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .right-chart {
  width: 100%;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .left-chart
  .info-box {
  padding: 30px !important;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .left-chart
  .info-box
  .title
  h1 {
  font-size: 14px;
  font-weight: 600;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .left-chart
  .info-box
  .title
  p {
  font-size: 12px;
  color: #b9b9b9;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .left-chart
  .info-box
  .list-box {
  max-height: 485px;
  overflow-y: auto;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .left-chart
  .info-box
  .list-box
  .list {
  padding: 20px 0 !important;
  border-bottom: 1px solid #e3e3e3;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .left-chart
  .info-box
  .list-box
  .list
  .list-title
  h1 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px !important;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .left-chart
  .info-box
  .list-box
  .list
  .list-title
  p {
  font-size: 12px;
  color: #b9b9b9;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .left-chart
  .info-box
  .list-box
  .list
  .list-count
  h5 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px !important;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .left-chart
  .info-box
  .list-box
  .list
  .list-count
  p {
  background-color: rgba(0, 108, 230, 0.1);
  border-radius: 3px;
  font-size: 10px;
  color: #006ce6;
  padding: 2px 6px !important;
  font-weight: 500;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .left-chart
  .info-box
  .list-box
  .list
  .list-count
  p.increment-text {
  background: rgba(75, 222, 151, 0.1);
  color: #4bde97;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .left-chart
  .info-box
  .list-box
  .list
  .list-count
  p.decrement-text {
  background: rgba(255, 16, 16, 0.1);
  color: #ff1010;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .right-chart
  .chart-box {
  padding: 30px !important;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .right-chart
  .chart-box
  .header-text
  .title
  h1 {
  font-size: 22px;
  font-weight: bold;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .right-chart
  .chart-box
  .header-text
  .title
  p {
  color: #171717;
  font-size: 14px;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .right-chart
  .chart-box
  .header-text
  .status
  .list
  .dot {
  min-width: 8px;
  min-height: 8px;
  max-width: 8px;
  max-height: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px !important;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .right-chart
  .chart-box
  .header-text
  .status
  .list
  .dot.blue-dot {
  background-color: #5f2eea;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .right-chart
  .chart-box
  .header-text
  .status
  .list
  .dot.green-dot {
  background-color: #4bde97;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .right-chart
  .chart-box
  .header-text
  .status
  .list
  .info
  p {
  text-transform: uppercase;
  color: #b9b9b9;
  font-size: 10px;
  line-height: 1;
  margin-bottom: 4px !important;
}

.main-container
  .right-container
  .primary-container
  .graph-container
  .chart-container
  .right-chart
  .chart-box
  .header-text
  .status
  .list
  .info
  h1 {
  font-size: 14px;
  font-weight: 500;
}

/* chart  */
.my-chart {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .main-container .info-container .left-info .list-box .list {
    flex-direction: column;
  }
  .main-container .left-container {
    left: -100%;
  }
  .main-container .right-container {
    padding-left: 0 !important;
  }
  .nav-tab {
    display: flex;
  }
}

@media (max-width: 1023px) {
  .nav-bar {
    padding: 30px 50px !important;
  }
  .home-form-container {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container {
    flex-direction: column;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container
    .left-chart {
    min-width: 100%;
    border: none;
  }
}

@media (max-width: 900px) {
  .main-container
    .right-container
    .primary-container
    .graph-container
    .card-container
    .card-box {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .nav-bar {
    padding: 30px 20px !important;
  }
  .nav-banner {
    flex-direction: column;
  }
  .main-container .right-container .primary-container .nav-banner .title {
    margin-bottom: 20px !important;
  }
  .main-container
    .right-container
    .primary-container
    .nav-banner
    .tools
    .add-link {
    margin-left: 0 !important;
  }
  .home-form-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .home-form-container .box {
    padding: 30px 20px !important;
  }
  .main-container .info-container .left-info .list-box .list {
    flex-direction: row;
  }
  .main-container .info-container .info-wrapper {
    flex-direction: column;
  }
  .main-container .info-container .left-info {
    width: 100%;
    margin-bottom: 20px !important;
  }
  .main-container .info-container .right-info {
    width: 100%;
    padding: 0 !important;
  }
  .main-container .primary-container {
    padding: 1rem !important;
  }
  .main-container .info-container .left-info .image-container {
    height: auto;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container
    .right-chart
    .chart-box
    .header-text {
    flex-direction: column;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container
    .right-chart
    .chart-box
    .header-text
    .title {
    margin-bottom: 20px !important;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container
    .right-chart
    .chart-box
    .header-text
    .title
    h1 {
    text-align: center;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container
    .right-chart
    .chart-box
    .header-text
    .title
    p {
    text-align: center;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container
    .left-chart
    .info-box {
    padding: 20px !important;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container
    .right-chart
    .chart-box {
    padding: 20px !important;
  }
}

@media (max-width: 450px) {
  .main-container .info-container .left-info .list-box .list {
    flex-direction: column;
  }
  .main-container .info-container {
    padding: 10px !important;
  }
  .main-container .info-container .right-info .heading-text h1 {
    font-size: 22px;
  }
  .main-container .info-container .right-info .event-box .list-box .list h1 {
    font-size: 12px;
  }
  .main-container .info-container .right-info .desc-box .summary-text p {
    font-size: 12px;
  }
  .main-container .info-container .left-info .list-box .list h1 {
    font-size: 12px;
  }
  .main-container .info-container .left-info .list-box .list p {
    font-size: 12px;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .card-container
    .card-box {
    width: 100%;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container
    .right-chart
    .chart-box
    .header-text
    .status {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container
    .right-chart
    .chart-box
    .header-text
    .status
    .list {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container
    .right-chart
    .chart-box
    .header-text
    .status
    .list:nth-child(1) {
    margin-bottom: 20px !important;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container
    .left-chart
    .info-box {
    padding: 10px !important;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container
    .right-chart
    .chart-box {
    padding: 10px !important;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container
    .right-chart
    .chart-box
    .header-text
    .title
    h1 {
    font-size: 18px;
  }
  .main-container
    .right-container
    .primary-container
    .graph-container
    .chart-container
    .right-chart
    .chart-box
    .header-text
    .title
    p {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .nav-bar {
    padding: 30px 10px !important;
  }
  .home-form-container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    h1 {
    font-size: 16px;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    .icons-container
    .icon
    p {
    margin-left: 6px !important;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    .icons-container
    .icon:nth-child(2) {
    margin-left: 10px !important;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .table td,
  .table th {
    padding: 20px 10px !important;
  }
  .main-container .pagination-box {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
