@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  background-color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

.go-roam-body.fixed-body {
  overflow: hidden;
}

.nav-bar {
  padding: 30px 100px !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.roam-logo img {
  height: 20px;
}

.nav-right a {
  width: auto;
  padding-left: 40px !important;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.nav-right a:hover {
  color: #484848 !important;
}

.nav-lang img {
  margin-right: 4px !important;
  width: 16px;
  height: 16px;
}

.nav-tab {
  display: none;
  cursor: pointer;
}

.nav-tab span {
  width: 28px;
  height: 3px;
  border-radius: 10px;
  background-color: #565656;
  margin: 5px 0 !important;
  pointer-events: none;
}

.mobile-nav {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
  padding: 30px 20px !important;
  left: -100%;
  opacity: 0;
}

.mobile-nav .mobile-logo img {
  height: 20px;
}

.mobile-nav .mobile-links {
  padding: 20px 0 !important;
}

.mobile-nav .mobile-links a {
  color: #000000;
  margin: 15px 0 !important;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.mobile-nav .mobile-links a:active {
  transform: scale(0.99);
}

.banner-container {
  padding: 100px 100px !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.banner-container h1 {
  font-size: 48px;
  font-weight: bold;
  color: #ff5a10;
  padding: 50px 0 !important;
  text-align: center;
}

.banner-container .banner-box {
  padding: 50px 0 !important;
  width: 100%;
  position: relative;
}

.banner-container .banner-box .filter-box {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.banner-container .banner-box .filter-box .filter-list {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 55px 154px 145px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: none;
}

.banner-container .banner-box .filter-box .filter-list .filter-link {
  padding: 40px 30px !important;
}

.banner-container .banner-box .filter-box p {
  font-weight: 500;
  color: #000000;
  margin-right: 15px !important;
}

.banner-container .banner-box .filter-box img {
  height: 20px;
}

.banner-container
  .banner-box
  .filter-box
  .filter-list
  .filter-link
  .filter-cat:nth-child(1) {
  margin-bottom: 20px !important;
}

.banner-container
  .banner-box
  .filter-box
  .filter-list
  .filter-link
  .filter-cat
  .title {
  margin-bottom: 10px !important;
  pointer-events: none;
}

.banner-container
  .banner-box
  .filter-box
  .filter-list
  .filter-link
  .filter-cat
  .title
  h2 {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

.banner-container
  .banner-box
  .filter-box
  .filter-list
  .filter-link
  .filter-cat
  .list {
  margin-bottom: 10px !important;
  margin-left: 15px !important;
  cursor: pointer;
}

.banner-container
  .banner-box
  .filter-box
  .filter-list
  .filter-link
  .filter-cat
  .list:nth-last-child(1) {
  margin-bottom: 0 !important;
}

.banner-container
  .banner-box
  .filter-box
  .filter-list
  .filter-link
  .filter-cat
  .list
  .icon {
  min-width: 10px;
  min-height: 10px;
  max-width: 10px;
  max-height: 10px;
  width: 10px;
  height: 10px;
  background-color: #b7b7b7;
  border-radius: 4px;
  margin-right: 10px !important;
  pointer-events: none;
}

.banner-container
  .banner-box
  .filter-box
  .filter-list
  .filter-link
  .filter-cat
  .list.active
  .icon {
  background-color: #ff5a10;
}

.banner-container
  .banner-box
  .filter-box
  .filter-list
  .filter-link
  .filter-cat
  .list
  h5 {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  pointer-events: none;
}

.banner-container .banner-box .tab-box {
  background-color: #ffffff;
  padding: 10px 40px !important;
  border-radius: 99px;
  box-shadow: 0px 32px 51px rgba(0, 0, 0, 0.05);
}

.banner-container .banner-box .tab-box a {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 50px !important;
  color: #000000;
  text-decoration: none;
}

.banner-container .banner-box .tab-box a:nth-child(1) {
  border-right: 1px solid #a3a3a3;
}

.banner-container .banner-box .tab-box a.active {
  color: #ff5a10;
}

.party-card-container {
  padding: 0 100px 40px 100px !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

/* .party-card-container.hidden {
  display: none;
} */

.party-card-container .card-box {
  background-color: #ffffff;
  margin-bottom: 30px !important;
  border-radius: 18px;
}

.party-card-container .card-box .image-container {
  max-width: 250px;
  max-height: 250px;
  width: 250px;
  height: 250px;
}

.party-card-container .card-box .image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.party-card-container .card-box .details-container .heading-name h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.party-card-container .card-box .details-container .heading-name p {
  font-size: 12px;
  color: #959595;
  text-transform: capitalize;
}

.party-card-container .card-box .details-container .sub-heading-name h1 {
  margin: 20px 0 !important;
}

.party-card-container .card-box .details-container .sub-heading-name h1 {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
}

.party-card-container .card-box .details-container .desc p {
  font-size: 12px;
  margin-bottom: 15px !important;
}

.party-card-container .card-box .details-container .desc a {
  font-size: 14px;
}

.party-card-container
  .card-box
  .details-container
  .desc
  .upcoming-date-text
  .left-text
  p {
  margin: 0 !important;
}

.party-card-container
  .card-box
  .details-container
  .desc
  .upcoming-date-text
  .right-text
  p {
  margin: 0 !important;
}

.party-card-container
  .card-box
  .details-container
  .desc
  .upcoming-date-text
  .right-text
  span {
  color: #959595;
  font-size: 10px;
  line-height: 1;
}

.book-wrapper {
  padding: 40px 10px !important;
  background-color: #006ce6;
}

.book-wrapper h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
}

.book-wrapper.fixed-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  animation: fadeUp 0.5s ease;
}

@keyframes fadeUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

.footer-container {
  background-color: #ffffff;
  padding: 100px 100px 70px 100px !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.footer-container .footer-links p {
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px !important;
}

.footer-container .footer-links .link-list a {
  font-size: 12px;
  color: #006ce6;
  line-height: 1;
  margin-bottom: 20px !important;
}

.footer-container .copyright-banner p {
  color: #000000;
}

.footer-container .footer-logo img {
  height: 20px;
}

.combo-footer {
  position: fixed;
  width: 100%;
  bottom: -90%;
}

/* dark theme  */
body.dark-body {
  background-color: #000000;
}

body.dark-body .nav-right a {
  color: #ffffff;
}

body.dark-body .banner-container h1 {
  color: #ffffff;
}

body.dark-body .banner-container .banner-box .filter-box p {
  color: #ffffff;
}

body.dark-body .party-card-container .card-box {
  background-color: #252525;
}

body.dark-body
  .party-card-container
  .card-box
  .details-container
  .heading-name
  h1 {
  color: #ffffff;
}

body.dark-body
  .party-card-container
  .card-box
  .details-container
  .sub-heading-name
  h1 {
  color: #ffffff;
}

body.dark-body .party-card-container .card-box .details-container .desc p {
  color: #ffffff;
}

body.dark-body .party-card-container .card-box .details-container .desc a {
  color: #ff5a10;
}

body.dark-body .footer-container {
  background-color: #252525;
}

body.dark-body .footer-container .footer-links p {
  color: #ffffff;
}

body.dark-body .footer-container .footer-links .link-list a {
  color: #ff5a10;
}

body.dark-body .footer-container .copyright-banner p {
  color: #ff5a10;
}

body.dark-body .background-wrapper {
  background-image: url(../image/cover2.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

body.dark-body .nav-tab span {
  background-color: #ffffff;
}

body.dark-body .mobile-nav {
  background-color: #252525;
}

body.dark-body .mobile-nav .mobile-links a {
  color: #ffffff;
}

body.dark-body .roam-logo img {
  height: 40px;
}

body.dark-body .footer-container .footer-logo img {
  height: 40px;
}

body.dark-body .mobile-nav .mobile-logo img {
  height: 40px;
}

/* responsive  */
@media (max-width: 1023px) {
  .nav-bar {
    padding: 30px 50px !important;
  }
  .banner-container {
    padding: 70px 50px !important;
  }
  .party-card-container {
    padding: 0 50px 40px 50px !important;
  }
  .banner-container h1 {
    font-size: 44px;
  }
  .banner-container .banner-box .tab-box {
    padding: 10px 30px !important;
  }
  .banner-container .banner-box .tab-box a {
    font-size: 18px;
    padding: 10px 40px !important;
  }
  .banner-container .banner-box {
    padding: 40px 0 !important;
  }
  .footer-container {
    padding: 90px 50px 60px 50px !important;
  }
  .party-card-container
    .card-box
    .details-container
    .desc
    .upcoming-date-text
    .left-text {
    margin-right: 2rem !important;
  }
}

@media (max-width: 991px) {
  .footer-container .footer-box {
    margin-bottom: 30px !important;
  }

  .party-card-container
    .card-box
    .details-container
    .desc
    .upcoming-date-text
    .left-text {
    margin-right: 1rem !important;
  }
}

@media (max-width: 767px) {
  .nav-bar {
    padding: 30px 20px !important;
  }
  .banner-container {
    padding: 50px 20px !important;
  }
  .party-card-container {
    padding: 0 20px 40px 20px !important;
  }
  .banner-container h1 {
    font-size: 40px;
    padding: 30px 0 !important;
  }
  .banner-container .banner-box .tab-box {
    padding: 10px 20px !important;
  }
  .banner-container .banner-box .tab-box a {
    font-size: 16px;
    padding: 10px 30px !important;
  }
  .banner-container .banner-box {
    padding: 30px 0 !important;
  }
  .party-card-container .card-box .details-container .desc .upcoming-date-text {
    flex-direction: column-reverse;
  }
  .party-card-container
    .card-box
    .details-container
    .desc
    .upcoming-date-text
    .right-text {
    margin-bottom: 15px !important;
  }
  .footer-container {
    padding: 90px 20px 60px 20px !important;
  }
}

@media (max-width: 575px) {
  .nav-right {
    display: none;
  }
  .nav-tab {
    display: flex;
  }
  .banner-container {
    padding: 30px 20px !important;
  }
  .banner-container .banner-box .filter-box {
    position: relative;
    width: 100%;
    justify-content: flex-start;
    margin-top: 30px !important;
  }
  .banner-container .banner-box {
    flex-direction: column-reverse;
  }
  .party-card-container .card-box {
    flex-direction: column;
  }
  .party-card-container .card-box .details-container {
    text-align: center;
    padding: 0 !important;
  }
  .party-card-container .card-box .details-container .heading-name h1 {
    text-align: center;
  }
  .party-card-container .card-box .details-container .heading-name p {
    text-align: center;
  }
  .party-card-container .card-box {
    padding: 1rem !important;
  }
  .party-card-container .card-box .image-container {
    max-width: 150px;
    max-height: 150px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px !important;
  }
  .party-card-container .card-box .details-container .heading-name h1 {
    font-size: 20px;
  }
  .party-card-container .card-box .details-container .desc p {
    font-size: 12px;
  }
  .party-card-container .card-box .details-container .desc a {
    font-size: 12px;
  }
  .party-card-container .card-box .details-container .desc .upcoming-date-text {
    justify-content: center;
    align-items: center;
  }
  .party-card-container
    .card-box
    .details-container
    .desc
    .upcoming-date-text
    .right-text {
    text-align: center;
  }
  .party-card-container
    .card-box
    .details-container
    .desc
    .upcoming-date-text
    .left-text {
    text-align: center;
  }
  .footer-container .footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-container .footer-links .link-list {
    align-items: center;
  }
}

@media (max-width: 400px) {
  .party-card-container .card-box .image-container {
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 350px) {
  .nav-bar {
    padding: 30px 10px !important;
  }
  .banner-container {
    padding: 20px 10px !important;
  }
  .party-card-container {
    padding: 0 10px 40px 10px !important;
  }
  .banner-container h1 {
    font-size: 34px;
  }
  .banner-container .banner-box .tab-box {
    padding: 10px 10px !important;
  }
  .banner-container .banner-box .tab-box a {
    font-size: 16px;
    padding: 10px 30px !important;
  }
  .banner-container .banner-box {
    padding: 30px 0 !important;
  }
  .footer-container {
    padding: 90px 10px 60px 10px !important;
  }
}
